<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>添加词条</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="./public/css/app.css">

  <script src="https://cdn.wilddog.com/sdk/js/2.1.2/wilddog-sync.js"></script>
  <script src="./public/lib/vue.min.js"></script>
  <script src="./public/lib/aidesWin.min.js"></script>
  <!--[if lte IE 9]>
    <script>
      alert('什么年代了还用ie，赶紧换个浏览器再来吧！');
      window.close();
    </script>
  <![end if]-->
</head>
<body>

  <header class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Dictionary</a>
    </div>
  </header>

  <section class="search-container">
      <div class="search">
        <input class="search-input" type="text" value="application" placeholder="请输入需要查找的英文单词" v-model="searchWord" @keyup.enter="search">
          <p class="info">翻译</p>
          <p>
              <a href="javascript:void(0)" class="pure-button" @click="search">Translate</a>
          </p>
      </div>
  </section>

  <section class="content-wrapper {{showResult}}">
    <div class="result">
      <p>
        <a href="javascript:void(0)" class="pure-button" @click="back">返回</a>
      </p>

      <ul class="resUl" v-if="!noData">
        <li v-for="item in result">
          <h2 v-text="item.name"></h2>
          <p v-text="'[ 常见释义 ] : ' + item.transContent"></p>
          <p v-text="'[ 程序释义 ] : ' + item.description"></p>
          <p>
            贡献者 : <a :href="item.github" v-text="item.auth"></a>
          </p>
          <p v-text="'贡献日期 : ' + item.date"></p>
        </li>
      </ul>
          
      <div v-if="noData">
        <p>
          暂无<strong v-text="searchWord"></strong>的查询结果，<a href="./add.html">点击添加</a>此词条信息
        </p>
      </div>

    </div>
  </section>

  <script src="./public/js/app.js"></script>
</body>
</html>