	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li>
                <a href="{{ site.url }}/">
                    <i class="fa fa-home"></i>Home
                </a>
            </li>
			<li>
                <a href="{{ site.url }}/about/">
                    <i class="fa fa-info"></i>About
                </a>
            </li>
			<li>
				<a href="#">
                    <i class="fa fa-file-txt"></i>Posts
                </a>
				<ul class="dl-submenu">
					<li>
                        <a href="{{ site.url }}/posts/">
                            <i class="fa fa-book"></i>All Posts
                        </a>
                    </li>
					<li>
                        <a href="{{ site.url }}/tags/">
                            <i class="fa fa-tags"></i>All Tags
                        </a>
                    </li>
				</ul>
			</li>
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->
